{% extends 'base.html' %}




{% block content %}



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                  <div class="text-center">
                    <h1 class="h3 mb-4 text-gray-800"> <b>WELCOME TO TRAFFIC PREDICTOR</b></h1>


                  <a href="{{ url_for('upload')}}">PREDICT</a><br>
                      <img src='static/img/1.jpg'>



                  </div></div>
                <!-- /.container-fluid -->



 {% endblock %}

